<app-jumbotron-post-pages></app-jumbotron-post-pages>
<div class="row" *ngIf='postAll; else loading'>
    
<!-- <ng-template [ngIf]='postEach'> -->
    <div class="col-md-4 mx-auto my-5" *ngFor="let postEach of postAll">
        <app-post-each [postEach]='postEach'></app-post-each>
    </div>
<!-- </ng-template>
    <ng-template [ngIf]='!postEach'>

        <div>BAM Dum</div>
    </ng-template> -->

</div>

<ng-template #loading>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4" text='center'>Loading</div>
    <div class="col-lg-4"></div>
  </div>
</ng-template>
